body {
  background-color: rgb(180, 224, 193);
  font-family: Helvetica;
}

main {
  width: 80%;
  max-width: 1000px;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Header Section */

header {
  margin-top: 0px;
  border: 2px solid black;
  padding: 5px;
  width: 80%;
  margin: auto;
  max-width: 1000px;
  height: 180px;
  background-image: url("../images/question mark background.jpg");
  border-radius: 10px;
  color: black;
}

h1 {
  font-size: 50px;
  color: green;
  text-align: center;
  padding: none;
}

/* Intro */

.intro {
  width: auto;
  background-color: white;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: green;
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px grey solid;
}

p {
  line-height: 1.5;
  font-size: 20px;
  padding: 0px 40px 20px 40px;
  justify-content: flex-end;
  text-align: justify;
  border-bottom: 1px grey solid;
}

/* Start & Next Question Button */

.start_button {
  justify-content: center;
  display: flex;
  padding: 10px 10px;
}

.start_button button {
  font-size: 20px;
  font-weight: bold;
  color: green;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
