/* Header Section */

header {
  margin-top: 0px;
  border: 2px solid black;
  padding: 10px;
  width: 80%;
  margin: auto;
  max-width: 1000px;
  height: auto;
  background-image: url("../images/question mark background.jpg");
  border-radius: 10px;
  color: black;
}

h1 {
  font-size: 50px;
  color: green;
  text-align: center;
  padding: none;
}

.high_score, .score {
  font-size: 20px;
  font-weight: bold;
  color: green;
  justify-content: flex-end;
  padding: 0 0 10px 10px;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: red;
  position: absolute;
  right: 10px;
}

/* Main Section */

body {
  background-color: rgb(180, 224, 193);
  font-family: Helvetica;
}

main {
  width: 80%;
  max-width: 1000px;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Intro */

.intro {
  width: auto;
  background-color: white;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: green;
  padding: 20px 10px;
  text-align: center;
  border-bottom: 1px grey solid;
}

p {
  line-height: 1.5;
  font-size: 20px;
  padding: 0px 40px 20px 40px;
  justify-content: flex-end;
  text-align: justify;
  border-bottom: 1px grey solid;
}

/* Start Button */

.start_button{
  justify-content: center;
  display: flex;
  padding: 10px 10px;
}
.next_button {
  justify-content: left;
  display: inline-block;
  padding: 10px 10px;
}
.result{
  display:  inline-block;
  font-size: 20px;
}

.start_button button, .next_button button {
  font-size: 20px;
  font-weight: bold;
  color: green;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
.answers_list ol li {
  padding: 5px 2px;
  cursor: pointer;
  margin: 5px 0;
}
.answers_list ol li.active {
  border: 1px solid green;
}
#countdown {
  color: red;
  font-size: 24px;
  float: right;
}
.start_button.restart button{
  width: 200px;
}
